@import './variables.scss';

.projects {
    display: flex;
    flex-wrap: wrap;

    .project {
        flex: 0 0 25%;

        @media (max-width: 686px) {
            flex: 0 0 50%;
        }
        .img {
            display: block;
            width: 100%;
        }
    }
}
